
body{
    background-color: #001233;
}
header>nav>a {
    color: #CAC0B3;
    margin: 1vw;
    text-decoration: none;
}
header>nav{
    position: absolute;
    right: 0;
}
header{
    position: sticky;
    top: 20px;
}
body>div>div:first-child{
    margin: 3vw;
}
body>div>div:first-child>img{
    margin-left: 5vw;
    margin-top: 2vw;
}
#div1{
    margin: 3vw;
}
#div1>img{
    margin-left: 5vw;
}
#img>img{
    margin-top: 2vw;
    margin-left: 8vw;
    margin-bottom: 2vw;
}
#img>img:nth-child(2){
    position: absolute;
    right: 9.5vw;
}
#img1>img{
    margin-top: 2vw;
    margin-left: 8vw;
}
#my{
    position: absolute;
    right: 9vw;
}
#my1{
    position: absolute;
    left: 29vw;
}

